# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
2_convolutional_neural_networks/deep_neural_networks/checkpoint
2_convolutional_neural_networks/deep_neural_networks/model.ckpt.data-00000-of-00001
2_convolutional_neural_networks/deep_neural_networks/model.ckpt.index
2_convolutional_neural_networks/deep_neural_networks/model.ckpt.meta
2_convolutional_neural_networks/deep_neural_networks/t10k-images-idx3-ubyte.gz
2_convolutional_neural_networks/deep_neural_networks/t10k-labels-idx1-ubyte.gz
2_convolutional_neural_networks/deep_neural_networks/train-images-idx3-ubyte.gz
2_convolutional_neural_networks/deep_neural_networks/train-labels-idx1-ubyte.gz
2_convolutional_neural_networks/deep_neural_networks/train_model.ckpt.data-00000-of-00001
2_convolutional_neural_networks/deep_neural_networks/train_model.ckpt.index
2_convolutional_neural_networks/deep_neural_networks/train_model.ckpt.meta
2_convolutional_neural_networks/intro_to_tensorflow/27_lab_tensorflow_neural_network/intro-to-tensorflow/notMNIST.pickle
2_convolutional_neural_networks/intro_to_tensorflow/27_lab_tensorflow_neural_network/intro-to-tensorflow/notMNIST_test.zip
2_convolutional_neural_networks/intro_to_tensorflow/27_lab_tensorflow_neural_network/intro-to-tensorflow/notMNIST_train.zip
3_recurrent_neural_networks/embeddings/assets/lookup_matrix.png
3_recurrent_neural_networks/embeddings/assets/one_hot_encoding.png
3_recurrent_neural_networks/embeddings/assets/tokenize_lookup.png
3_recurrent_neural_networks/embeddings/checkpoints/checkpoint
3_recurrent_neural_networks/embeddings/checkpoints/text8.ckpt.data-00000-of-00001
3_recurrent_neural_networks/embeddings/checkpoints/text8.ckpt.index
3_recurrent_neural_networks/embeddings/checkpoints/text8.ckpt.meta
3_recurrent_neural_networks/sentiment-rnn/labels.txt
3_recurrent_neural_networks/sentiment-rnn/reviews.txt
3_recurrent_neural_networks/embeddings/data/text8
3_recurrent_neural_networks/embeddings/text8.zip
project/image-classification/cifar-10-batches-py/batches.meta
project/image-classification/cifar-10-batches-py/data_batch_1
project/image-classification/cifar-10-batches-py/data_batch_2
project/image-classification/cifar-10-batches-py/data_batch_3
project/image-classification/cifar-10-batches-py/data_batch_4
project/image-classification/cifar-10-batches-py/data_batch_5
project/image-classification/cifar-10-batches-py/readme.html
project/image-classification/cifar-10-batches-py/test_batch
project/image-classification/checkpoint
project/image-classification/cifar-10-python.tar.gz
project/image-classification/image_classification.data-00000-of-00001
project/image-classification/image_classification.index
project/image-classification/image_classification.meta
project/image-classification/preprocess_batch_1.p
project/image-classification/preprocess_batch_2.p
project/image-classification/preprocess_batch_3.p
project/image-classification/preprocess_batch_4.p
project/image-classification/preprocess_batch_5.p
project/image-classification/preprocess_test.p
project/image-classification/preprocess_validation.p
